global:
  checkNewVersion: true
  sendAnonymousUsage: true

entryPoints:
  web:
    address: "0.0.0.0:80"
    forwardedHeaders:
      insecure: true

  websecure:
    address: "0.0.0.0:443"

providers:
  docker:
    exposedByDefault: false
     # TODO: cli version does not work
    constraints: Label(`dcape.traefik.tag`,`=DCAPE_TAG=`)

  file:
    directory: /etc/traefik/custom
    watch: true

api:
  insecure: false

ping:
  manualRouting: true

log:
  level: DEBUG
