  # ------------------------------------------------------------------------------
  gitea:
    image: gitea/gitea:${GITEA_VER}
    restart: always
    ports:
      - "${GITEA_SSH_PORT}:22"
    depends_on:
      db:
        condition: service_healthy
    labels:
      - "dcape.traefik.tag=${PROJECT_NAME}"
      - "traefik.enable=true"
      - "traefik.http.routers.gitea.rule=Host(`${GITEA_HOST}`)"
      - "traefik.http.services.gitea.loadbalancer.server.port=3000"
    environment:
      - TZ
      - RUN_MODE=prod
      - REQUIRE_SIGNIN_VIEW=true
      - USER_UID=1000
      - USER_GID=1000
      - DOMAIN=${GITEA_HOST}
      - ROOT_URL=${DCAPE_SCHEME}://${GITEA_HOST}
      - DB_TYPE=postgres
      - DB_HOST=db:5432
      - DB_NAME=${GITEA_DB_TAG}
      - DB_USER=${GITEA_DB_TAG}
      - DB_PASSWD=${GITEA_DB_PASS}
    volumes:
      - ./var/data/gitea:/data
